body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background:#f4f6f9;
    text-align:center;
}

header{
    background:#0d6efd;
    color:white;
    padding:20px;
}

.subjects{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:40px;
    flex-wrap:wrap;
}

.card{
    width:250px;
    background:white;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    cursor:pointer;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:10px 10px 0 0;
}

.card h2{
    padding:15px;
}

.quiz-container{
    width:70%;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.option{
    display:block;
    margin:10px 0;
    padding:10px;
    border:1px solid #ddd;
    cursor:pointer;
    border-radius:5px;
}

.option:hover{
    background:#e7f1ff;
}

button{
    margin-top:20px;
    padding:10px 20px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
